<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harry.web.domain.mapper.RestMapper">

  <select id="selectByUserName" resultType="RestEntity">
    select r.*
    from sys_rest r
           left join sys_roles_rest rr on rr.rest_id = r.rest_id
           left join sys_users_roles ur on ur.role_id = rr.role_id
           left join sys_user u on u.user_id = ur.user_id
    where u.username = #{userName}
  </select>

  <select id="selectByRoleId" resultType="RestEntity">
    select r.*
    from sys_rest r
           left join sys_roles_rest rr on rr.rest_id = r.rest_id
    where rr.role_id = #{roleId}
  </select>


</mapper>